# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# backend
backend/cdk.out/
backend/.venv/
backend/infra/lambda/*/layer/

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
CLAUDE.md

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# more misc
/src/App gsap useffect.js
/src/App last good versions.js
/src/App navlink.js 
/src/App.less
/gsap-bonus.tgz
/public


# video
/src/assets/video
