/* info styles */

.info .card-stack {
    background-color: rgb(231, 208, 28) !important;
}

.info h1 {
    font-size: x-large;
    margin-top: 1.5em;
    text-align: center;
}

.info h2 {
    margin-bottom: 1.5em;
    text-align: center;
}

.right-justify {
    justify-content: right;
    min-width: 360px;
    display: flex;
} 

/* ideally, the open and close motion is smoother */

.collapsable-boxes {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: right;
    width: 88%;
    font-size: large;
    color: rgb(21, 21, 102);

}

.info-box {
    background-color: rgb(231, 208, 28);
    /* min-width: 400px; */
    padding: 0.5em;
    margin-right: 2em;
    border-radius: 15px;
    justify-content: left;
}

.info-box-button {
    display: inline-block;
    text-align: left;
    padding-left: 1em;
    margin-right: 0.5em;
    font-size: x-large;
}

.info-box-p {
    display: inline-block;
    text-align: right
}

.info, .expanded-box-area {
    text-align: left;
    background-color: transparent;
    color: rgb(21, 21, 102);
    font-size: small;
    /* min-width: 400px; */
    margin-top: 0.1em;
    margin-bottom: 0.1em;
    text-wrap: wrap;
    margin-right: 1em;
}

.info h4 {
    text-align: left;
    padding-left: 42px;
    font-size: x-large;
}

.info .schedule ul {
    font-size: small;
    padding-left: 50px;
}

.expanded-box-area li {
    margin-left: 1em;
    margin-bottom: 0.5em;
    /* text-indent: 0.5em; */
}