/* rsvp styles */


.rsvp #main {
    margin: 2em;
    color: red;
}
  
.rsvp div {
  color: greenyellow;
  font-size: large;
  font-family: gambetta;
}

.rsvp #rsvp-radio {
  /* background-color: bisque; */
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-top: 3em
}

#radio-item {
  display: flex;
  flex-direction: row;
  color: maroon;
}

#radio-item label {
  color: maroon;
  font-size: larger;
}

.rsvp input {
  color: red;
}

.rsvp h1 {
  font-size: x-large;
  font-family: Bonbance;
  color: rgb(85, 7, 7);
  margin-bottom: 1.5em
}

.rsvp h2 {
  font-size: large;
  font-family: gambetta;
  color: rgba(0, 0, 0, 0.566);
  margin-bottom: 1em
}

.rsvp h3 {
  margin: auto;
  color: rgba(0, 0, 0, 0.566);
  font-size: small;
  font-family: elanor;
  margin-bottom: 2em
}

.rsvp span {
  font-size: large;
  font-family: gambetta;
  color: rgba(0, 0, 0, 0.566);
}

.rsvp p {
  margin: auto;
  color: rgba(0, 0, 0, 0.566);
  font-size: medium;
  font-family: elanor;
  margin-bottom: 2em
}

.rsvp .name-info, .contact-num, .contact-info, .other-restrictions {
  display: flex;
  flex-direction: row;
  margin-bottom: 1.5em
}

.rsvp .state-country {
  display: flex;
  flex-direction: row;
  margin-bottom: 0.5em
}

.rsvp .name-info input, .name-info button, .contact-num input, .contact-info input, 
  .state-country button, .state-country input, .other-restrictions input {
  opacity: 60%;
  box-shadow: inset 0 0 40px 40px beige;
  color: red;
  font-family: elanor;
  font-size: medium;
  border-radius: 7px;
  margin: 0 0.2em;
  height: 28px;
  padding: 0 0.5em
}

.rsvp #country-code {
  width: 10%;
  z-index: 1000
}

.rsvp #pronouns, #address-2, #zipcode {
  width: 20%;
  z-index: 1000
}

.rsvp #first-name, #last-name, #address, #city {
  width: 40%; 
}

.rsvp #phone, #email {
  width: 45%; 
}

.rsvp #country, #state {
  width: 50%
}

.rsvp #other-restrictions {
  margin: auto;
  width: 60%; 
}

#contact-bottom {
  margin-top: 9em;
}

.dietary-grid {
  padding: 0.5em 1em 1em;
  margin-bottom: 0.5em
}

.diet-image, .diet-image-clicked {
  width: 90px;
  height: 90px;
  margin: auto;
  transition: all 1.5s ease-in-out;
}

.rsvp .diet-image:hover, .diet-image-clicked:hover {
  transition: all 1s ease-in-out;
  scale: 1.1
}

.rsvp .diet-image-clicked {
  filter: brightness(0.6);
  filter: saturate(0%);
  scale: 0.8
}

.submit-div {
  padding: 0
}

.submit-card-left, .submit-card-right {
  border-radius: 15px;
  margin: 0.5em 0.5em 0 0.5em;
  padding: 1em 1em;
  height: 95%;
  opacity: 90%;
  filter: blur(0.5px);
}

.submit-card-left {
  background-image: linear-gradient(to bottom right, #e0b002, #db568f);
}

.submit-card-right  {
  background-image: linear-gradient(to bottom left, #e0b002, #db568f);
}

.submit-text-overlay {
  color: maroon
}

.conditional-plusone {
  align-items: center;
  justify-content: center;
}

.conditional-plusone h2 {
  margin-top: 2em
}

#submit-header1, #submit-header2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

#submit-header1 {
  margin-top: 1em;
  margin-bottom: 0;
}

#submit-header2 {
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 1em
}

/* this needs a max width */
.btn-23 {
  color:  maroon;
  background-color: #ffef92;
  font-family: Bonbance;
  font-size: 90%;
  opacity: 60%;
  width: 35%;
  padding: 1% 0;
  margin: 2% 1% 0;
  height: 2%;
  text-transform: uppercase;
  border-radius: 27px;
  border: 1px solid #b79c05;
}

.btn-23[disabled]:hover {
  background-color: #d6d6d6;
}
.btn-23:hover {
  background-color: #ffb6f3;
}

@keyframes marquee {
  0% {transform: translateX(var(-100%));}
  100% {transform: translateX(var(100%));}
}

.btn-23{
  animation: marquee 50s linear infinite;
  text-shadow: 
  225px 0px maroon, 150px 0px maroon, 75px 0px maroon,
  -75px 0px maroon, -150px 0px maroon, -225px 0px maroon,
  -300px 0px maroon
}

.btn-generic {
  color: seashell;
  font-size: x-large;
  background-color: #f32121;
  width: 60%;
  height: 25%;
  border-radius: 2em;
  border-color: #cd5252;
  border-width: 1px; 
  padding: 5px;
  box-shadow: 3px 3px 3px maroon;
}

.btn-generic:hover {
  color: #f32121;
  background-color: seashell;
  box-shadow: 5px 5px 5px maroon;
}

/* Customize the label (the container) */
.checkbox-guest {
  display: block;
  position: relative;
  margin: 0 0.5em 0.2em 0.5em;
  cursor: pointer;
  color: rgb(69, 50, 50);
  font-size: large;
  padding-left: 2em
}

.checkbox-guest input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0% 2% 0% 0%;
  height: 25px;
  width: 25px;
  border-radius: 8px;
  background-color: #db568f
}

.checkbox-guest input:checked ~ .checkmark {
  background-color: #f32121;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-guest input:checked ~ .checkmark:after {
  display: block;
}

.checkbox-guest .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.big-red-x, .big-green-o {
    position: absolute;
    font-size: 3rem;
    /* font-size: 48px !important; */
    /* font-family: futura !important; */
    z-index: 999;
    /* animation: redx 3s linear; */
    animation: fadeInOut 1s forwards;
    /* margin: auto; */
    /* padding: auto; */
    /* text-align: center; */
    /* justify-content: center; */
    /* background-color: #d6d6d6; */
}
  
.big-red-x {
    color: red !important;
}

.big-green-o {
    color: rgb(90, 165, 33) !important;
}
    
@keyframes fadeInOut {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

.Toastify {
    height: 0px;
    color: maroon;
  }
.Toastify__toast-icon {
  padding-right: 3rem;
  color: maroon;
}
.Toastify__toast-body {
  color: maroon;
  font-weight: bold;
}
.Toastify__progress-bar-theme--dark {
  color: maroon;
  background-color: maroon;
}
/* This doesn't work */
.Toastify__toast-theme--dark {
  color: maroon;
  background-color: #ffc107 !important;
}
.Toastify__close-button {
  color: #ffc107;
  background-color: #ffc107;
}
.Toastify__close-button--dark  {
  color: #ffc107;
  background-color: #ffc107;
}
