/*  look into LESS https://lesscss.org/  

@width: 10px;

*/

@keyframes fullrotation {
  0% {
  transform: rotate(0deg);
  }
  100% {
  transform: rotate(360deg);
  }
}

* {
  outline: none !important;
  box-sizing: border-box;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
  max-height: 100dvh

}

/* this needs to be in line and the width of the pill */
.dropdown { 
  position: relative;
  display: inline-block;
}

/* need to format pretty the scroller */

.dropdown-content {
  display: none;
   position: absolute; /* position aboslute will stop the pill from moving around *?
  /* background-color: #f9f9f9; */
  min-width: 160px;
  /* height:400px; */
  /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
  padding: 12px 16px;
  z-index: 100;
  max-height: 200px;
  opacity: 100%

}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content li {
  background-color: #dfdfdf;
  opacity: 100%;
  font-weight: bold;
  margin: 3px 0px;
  border-radius: 25px
}

.dropdown-content li:hover {
  background-color: #dfdfdf
}

input[type="radio"] {
  appearance: none;
  /* background-color: #fff; */
  /* margin: 0.5% 8% 0% 8%; */
  margin: 0em 15em;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 50%;
  display: grid;
  place-content: center;
}

input[type="radio"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  background-color: purple;
}

input[type="radio"]:checked::before {
  transform: scale(1);
}

.bg-vid {
  position: fixed;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}


/* header stuff */

/* .content-header {
  border: 4px solid indigo; 
  justify-items: center;
  color: aliceblue;
  position: fixed;
} */

.header-main {
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  transform: scale(3.5);
  /* slightly smaller scale for mobile */
}

/* icon still is not aligned */

.header-main2 {
  /* height: 60px;
  width: 80%;
  text-align: center; */
  justify-content: center;
  /* display: flex;
  align-items: center;
  flex-direction: row; */
  /* border-radius: 20%; */
  /* border: 1px solid green;  */
  /* background-color: lightgray; */
}

.header-side {
  /* height: 50px; */
  text-align: center;
  margin: 25px 10px 25px 10px;
  font-family: Bonbance;
  font-style: italic;
  /* border: 4px solid blueviolet;  */
  flex: 1
}

/* the id on the header-side will dictate which color comb it */

/* make the icon not a full circle just to observe the rotate effect for now */
.header-nav { 
  height: 90px;
  width: 90px;
  justify-content: center;
  align-items: center;
  border-color: aliceblue;
  border: 2px; 
  border-radius: 100%;
  /* margin: auto; */
  display: flex;
  /* rotate: 60deg; */
}

/* this plus the transition arg in header-nav are vanilla css animation */
/* more here: https://zerotomastery.io/blog/javascript-animations-beginners-guide/ */
.header-nav:hover {
  animation-play-state: paused;
}

.outer-circle {
  margin: auto;
  height: 100px;
  width: 100px;
  position: absolute;
  animation: fullrotation 10s linear 0s infinite;
}

.egg-container {
  display: block;
  width: 50px;
  height: 50px;
  transition: all 2s ease-in-out;
}

.egg {
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: rgb(255, 212, 244);
  border: 1px solid rgb(255, 212, 244);
  border-radius: 25px 5px / 25px 5px;
  transform: rotate(45deg);
  z-index: 3;
  opacity: 80%;
  /* align-items: center; */
}

.egg-container input {
  position: absolute;
  text-align: center;
  font: 9px superbread;
  color: rgb(57, 22, 48);
  width: 55px;
  margin-left: -27px;
  margin-top: 18px;
  z-index: 4;
  background: transparent;
  border-radius: 25px;
}

.egg-container input:focus {
  background: rgb(255, 212, 244);
}

.egg-container input::placeholder {
  color: rgb(57, 22, 48);
}

.egg-container:hover {
  transition: all 1.5s ease-in-out;
  scale: 1.2
}

.inner-circle:hover {
  scale: 1.6
}

.container {
  text-align: center;
  margin-left: auto;
  margin-right: auto
}

.smooth-content {
  text-align: center;
  /* margin-left: auto;
  margin-right: auto;
  opacity: 80%; */
}

/* set minimum section width for mobile */
/* https://www.joshwcomeau.com/shadow-palette/ shadow generator */
section, header {
  margin-left: auto;
  margin-right: auto;
  opacity: 99%;
  text-align: center;
  box-shadow:
    1px 2px 2px hsla(0, 0%, 70%, 0.2),
    2px 4px 4px hsla(0, 0%, 70%, 0.2),
    4px 8px 8px hsla(0, 0%, 70%, 0.2),
    8px 16px 16px hsla(0, 0%, 70%, 0.2),
    16px 32px 32px hsla(0, 0%, 70%, 0.2);
}

section {
  height: 600px;
  width: 75%;
  margin-bottom: 40px;
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
}

header {
  height: 40px;
  width: 50%;
  margin-bottom: 60px;
  transform: translateY(30px);
  text-justify: center;
  border-radius: 15px;
}

.section-content {
  border-radius: 15px; 
  height: 600px
}

.header-content {
  border-radius: 15px;
}

.generic-body {
  margin: 20px;
  font-family: varent-grotesk;
  font-weight: bold
}

/* is there a way to randomize the width %, the justification and the color of several ul items? */

.generic-body ul {
  /* background-color: rosybrown; */
  color: black;
  padding: 10px;
  /* margin: 10px; */
  /* width: 90%; */
  border-radius: 15px;
  margin-top: 10px;
  opacity: 100%
}

.generic-body ul:hover {
  transform: translateY(-2px);
  box-shadow:
    1px 2px 2px hsla(0, 0%, 40%, 0.2),
    2px 4px 4px hsla(0, 0%, 40%, 0.2),
    4px 8px 8px hsla(0, 0%, 40%, 0.2),
    8px 16px 16px hsla(0, 0%, 40%, 0.2),
    16px 32px 32px hsla(0, 0%, 40%, 0.2);

}

.generic-body ul:nth-child(1) {
  background-color: rosybrown;
  border: 1px solid rgb(178, 124, 124);
  margin-left: 25px;
  width: 80%
}

.generic-body ul:nth-child(2) {
  background-color: palevioletred;
  border: 1px solid rgb(198, 94, 129);
  margin-left: 10px;
  width: 70%
}

.generic-body ul:nth-child(3) {
  background-color: burlywood;
  border: 1px solid rgb(206, 166, 114);
  margin-left: 30px;
  width:85%
}

.generic-body ul:nth-child(4) {
  background-color: plum;
  border: 1px solid rgb(202, 136, 202);
  margin-left: 10px;
  width: 75%
}

.rsvp #main {
  margin: 5%;
  /* min-height: 600; */
  color: red;
}

.rsvp div {
  color: greenyellow;
  font-size: large;
  font-family: gambetta;
  /* margin-bottom: 10% */
  /* this was super frustrating ^ where else will it effect? */
}

.rsvp #rsvp-radio {
  /* background-color: bisque; */
  display: flex;
  flex-direction: column;
  align-items: left;
}

.rsvp #radio-item {
  color: rgba(0, 0, 0, 0.566);
  /* background-color: pink; */
  /* font-size: medium; */
  font-family: gambetta;
  margin-bottom: 3%;
}

#radio-item label {
  color: maroon;
  font-size: larger;
  /* margin-bottom: 10em; */

}

.rsvp input {
  color: red;
}

.rsvp h1 {
  font-size: x-large;
  font-family: Bonbance;
  color: rgb(85, 7, 7);
  /* background-color: aqua; */
  margin-bottom: 6%
}

.rsvp h2 {
  font-size: large;
  font-family: gambetta;
  color: rgba(0, 0, 0, 0.566);
  margin-bottom: 2%
}

.rsvp p {
  margin: auto;
  color: rgba(0, 0, 0, 0.566);
  font-size: medium;
  font-family: elanor;
  margin-bottom: 5%;
}

.rsvp .name-info, .contact-num, .contact-info, .state-country, .other-restrictions {
  display: flex;
  flex-direction: row;
  margin-bottom: 3%;
}

.rsvp .name-info input, .name-info button, .contact-num input, .contact-info input, 
  .state-country button, .state-country input, .other-restrictions input {
  opacity: 60%;
  box-shadow: inset 0px 0px 40px 40px beige;
  color: red;
  font-family: elanor;
  font-size: medium;
  border-radius: 7px;
  margin: 0% 1%;
  height: 28px;
  padding: 0% 1%
}

.rsvp #other-restrictions {
  margin: auto;
  width: 80%; 
  margin-top: -1.2em;
}

.rsvp #first-name, #last-name, #address, #city {
  width: 40%; 
}

.rsvp #pronouns, #address-2, #zipcode {
  width: 20%
}

.rsvp #phone, #email, #country, #state {
  width: 50%
}

.diet-image, .diet-image-clicked {
  width: 90px;
  height: 90px;
  margin: auto;
  margin-bottom: 0px;
  padding-bottom: 0px;
  transition: all 1.5s ease-in-out;
}

.rsvp .diet-image:hover, .diet-image-clicked:hover {
  transition: all 1s ease-in-out;
  scale: 1.1
}

.rsvp .diet-image-clicked {
  /* transform: brightness(0.5);
  transform: saturate(0%);
  filter: grayscale(50%); */
  filter: brightness(0.6);
  filter: saturate(0%)
}

/* button {
  border-radius: 27px;
  font-family: Bonbance;
  border: 1px solid #b79c05;
  color: maroon;
  width: 200px;
  padding: 2px 20px;
  margin-bottom: 8px;
  opacity: 60%
} */

/* button:hover {
  background-color: #ffd700;
} */

.submit-card-left, .submit-card-right {
  /* background-color: rgb(178, 155, 53); */
  border-radius: 15px;
  margin: 10px;
  padding: 10px 5px;
  height: 300px;
  /* opacity: 80%; */
  filter: blur(0.5px);
  /* border: 2px solid #eb8872; */
  /* backdrop-filter: blur(500px); */
}

.submit-card-left {
  background-image: linear-gradient(to bottom right, #e0b002, 
  #db568f
  );
  border: 0px;
  margin-bottom: 0%;
}

.submit-card-right  {
  background-image: linear-gradient(to bottom left, #e0b002, 
  #db568f
  );
  border: 0px;
  margin-bottom: 0%;
}

.submit-text-overlay {
  color: maroon
}

.conditional-plusone {
  align-items: center;
  justify-content: center;
}

.conditional-plusone h2 {
  margin-top: 10%
}

.conditional-plusone p {
  font-size: 36px;
  font-family: futura;
  margin: 2% 0% 0% 50%;
  height: 40px;
  border: 3px solid brown;
  border-radius: 100%;
}

.conditional-checked {
  border-width: 0;
  background-image: linear-gradient(to bottom left, #b1f04d, 
  #5aed69
  );
  /* background-color: #7ef04d; */
  
}


.conditional-plusone h3 {
  color: brown;
  font-size: 18px;
}

.card-stack {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.swipe-card {
  margin: auto;
  height: 650px;
  width: 90%
}

.swipe-card top {
  z-index: 4
}

.swipe-card:nth-child(1) {
  z-index: 4;
  position: absolute;
  top: 0
}

.swipe-card:nth-child(2) {
  z-index: 3;
  position: absolute;
  top: 0;
  filter: brightness(0.95);
  transform: translate(10px, 20px);
}

.swipe-card:nth-child(3) {
  z-index: 2;
  position: absolute;
  filter: brightness(0.9);
  transform: translate(20px, 40px);
}

.swipe-card:nth-child(4) {
  z-index: 4;
  height: 80px;
  position: absolute;
  transform: translateY(720px);
  box-shadow:
    -1px 2px 2px hsla(0, 0%, 70%, 0.2),
    -2px 4px 4px hsla(0, 0%, 70%, 0.2),
    -4px 8px 8px hsla(0, 0%, 70%, 0.2),
    -8px 16px 16px hsla(0, 0%, 70%, 0.2),
    -16px 32px 32px hsla(0, 0%, 70%, 0.2);
  
}

.swipe-card:nth-child(5) {
  z-index: 3;
  height: 80px;
  position: absolute;
  transform: translate(-8px, 740px);
  box-shadow:
    -1px 2px 2px hsla(0, 0%, 70%, 0.2),
    -2px 4px 4px hsla(0, 0%, 70%, 0.2),
    -4px 8px 8px hsla(0, 0%, 70%, 0.2),
    -8px 16px 16px hsla(0, 0%, 70%, 0.2),
    -16px 32px 32px hsla(0, 0%, 70%, 0.2);
}

.swipe-card:nth-child(6) {
  z-index: 2;
  height: 80px;
  position: absolute;
  transform: translate(-16px, 760px);
  box-shadow:
    -1px 2px 2px hsla(0, 0%, 70%, 0.2),
    -2px 4px 4px hsla(0, 0%, 70%, 0.2),
    -4px 8px 8px hsla(0, 0%, 70%, 0.2),
    -8px 16px 16px hsla(0, 0%, 70%, 0.2),
    -16px 32px 32px hsla(0, 0%, 70%, 0.2);
}

.button-container {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

#submit-header1, #submit-header2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

#submit-header1 {
  /* padding: 30px 0px 0px 10px  */
  margin-top: 5%;
  margin-bottom: 0%;
}

#submit-header2 {
  padding-top: 0%;
  margin-top: 0%;
  margin-bottom: 5%
}

.next-btn {
  border-radius: 27px;
  /* background-color: #ffd700; */
  font-family: Bonbance;
  border: 1px solid #b79c05;
  color: maroon;
  width: 240px;
  /* height: 80px; */
  padding: 8px 20px;
  margin: 15px 8px;
  opacity: 60%;
}

.next-btn:hover {
  background-color: #ee7fdb;
}

.btn-23 {
  color:  maroon;
  background-color: #ffef92;
  font-family: Bonbance;
  font-size: 90%;
  opacity: 60%;
  width: 240px;
  padding: 10px 0px;
  margin: 20px 8px 0px;
  height: 40px;
  text-transform: uppercase;
  border-radius: 27px;
  border: 1px solid #b79c05;
  /* transition: opacity 5s ease; */
}

.btn-23[disabled]:hover {
  background-color: #d6d6d6;
}
.btn-23:hover {
  background-color: #ffb6f3;
}
/* .btn-23:disabled {
  cursor: default;
} */
/* doesnt do anything*/
/* .btn-23:-moz-focusing {
  outline: auto;
} */
/* .btn-23 svg {
  display: block;
  vertical-align: middle;
} */
/* .btn-23 [hidden] {
  display: none;
} */
/* .btn-23 span {
  display: grid;
  inset: 0;
  place-items: center;
  position: absolute;
  transition: opacity 0.2s ease;
} */
/* .btn-23 .marquee {
  --spacing: 5em;
  --start: 0em;
  --end: 5em;
  -webkit-animation: marquee 1s linear infinite;
  animation: marquee 1s linear infinite;
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
  opacity: 0;
  position: relative;
  text-shadow: #fff var(--spacing) 0, #fff calc(var(--spacing) * -1) 0,
    #fff calc(var(--spacing) * -2) 0;
} */
/* .btn-23:hover .marquee {
  -webkit-animation-play-state: running;
  animation-play-state: running;
  opacity: 1;
} */
/* .btn-23:hover .text {
  opacity: 0;
} */
@keyframes marquee {
  0% {transform: translateX(var(-100%));}
  100% {transform: translateX(var(100%));}
  /* 100% {transform: translateX(var(-100%));} */
}
/* @media { */
  .btn-23{
    animation: marquee 50s linear infinite;
    text-shadow: 
    225px 0px maroon, 150px 0px maroon, 75px 0px maroon,
    -75px 0px maroon, -150px 0px maroon, -225px 0px maroon,
    -300px 0px maroon
  }
/* } */

/* Customize the label (the container) */
.checkbox-guest {
  display: block;
  position: relative;
  margin: 0% 2% 1% 2%;
  cursor: pointer;
  color: rgb(69, 50, 50);
  font-size: large;
  padding-left: 4%
  /* -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; */
}

/* Hide the browser's default checkbox */
.checkbox-guest input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0% 2% 0% 0%;
  height: 25px;
  width: 25px;
  border-radius: 8px;
  background-color: #db568f
}

/* On mouse-over, add a grey background color */
/* .checkbox-guest:hover input ~ .checkmark {
  background-color: rgb(23, 245, 60)
} */

/* When the checkbox is checked, add a blue background */
.checkbox-guest input:checked ~ .checkmark {
  background-color: #f32121;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-guest input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-guest .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
