@keyframes fullrotation {
  0% {
  transform: rotate(0deg);
  }
  100% {
  transform: rotate(360deg);
  }
}

#gradient {
  position: relative;
  display: flex;
  flex-direction: column
}

#gradient canvas, #overlay {
  position: absolute;
  width: 100%;
  flex-grow: 1
} 

canvas {
  border: 1px solid black;
}

/* header stuff */

.header {
  border: 4px solid indigo; 
  justify-items: center;
}

.header-main {
  /* height: 70px; */
  text-align: center;
  display: flex;
  flex-direction: row;
  border: 1px solid green; 
}

.header-side {
  height: 50px;
  text-align: center;
  margin: 25px 10px 25px 10px;
  border: 4px solid blueviolet; 
  flex: 1
}

/* make the icon not a full circle just to observe the rotate effect for now */
.header-nav { 
  height: 80px;
  width: 80px;
  justify-content: center;
  align-items: center;
  border: 2px; 
  border-radius: 100%;
  /* margin: auto; */
  display: flex;
  /* rotate: 60deg; */
}

/* this plus the transition arg in header-nav are vanilla css animation */
/* more here: https://zerotomastery.io/blog/javascript-animations-beginners-guide/ */
.header-nav:hover {
  animation-play-state: paused;
}

.outer-circle {
  margin: auto;
  height: 100px;
  width: 100px;
  position: absolute;
  animation: fullrotation 10s linear 0s infinite;
}

.inner-button {
  margin: auto;
  height: 80px;
  width: 80px;
  position: absolute;
  transition: scale 0.6s ease-in-out;
}

.inner-button:hover {
  scale: 1.2
}

/*
#canvas-gradient {
  position: absolute;
  height: 100;
  width: 100% 
}

.top-elements {
  position: absolute;
  height: 100px;
  width: 100%
}
*/

/*
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/
