/*  look into LESS https://lesscss.org/  

@width: 10px;

*/

@keyframes fullrotation {
  0% {
  transform: rotate(0deg);
  }
  100% {
  transform: rotate(360deg);
  }
}

#gradient {
  position: relative;
  display: flex;
  flex-direction: column
}

#gradient canvas, #overlay {
  position: absolute;
  width: 100%;
  flex-grow: 1
} 

canvas {
  border: 1px solid black;
}

/* header stuff */

.header {
  border: 4px solid indigo; 
  justify-items: center;
}

.header-main {
  height: 90px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  /* border: 1px solid black;  */
}

.header-main2 {
  height: 60px;
  width: 80%;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: row;
  border-radius: 20%;
  /* border: 1px solid green;  */
  background-color: lightgray;
}

.header-side {
  /* height: 50px; */
  text-align: center;
  margin: 25px 10px 25px 10px;
  font-family: Bonbance;
  font-style: italic;
  /* border: 4px solid blueviolet;  */
  flex: 1
}

/* the id on the header-side will dictate which color comb it */

/* make the icon not a full circle just to observe the rotate effect for now */
.header-nav { 
  height: 90px;
  width: 90px;
  justify-content: center;
  align-items: center;
  border: 2px; 
  border-radius: 100%;
  /* margin: auto; */
  display: flex;
  /* rotate: 60deg; */
}

/* this plus the transition arg in header-nav are vanilla css animation */
/* more here: https://zerotomastery.io/blog/javascript-animations-beginners-guide/ */
.header-nav:hover {
  animation-play-state: paused;
}

.outer-circle {
  margin: auto;
  height: 100px;
  width: 100px;
  position: absolute;
  animation: fullrotation 10s linear 0s infinite;
}

.inner-button {
  margin: auto;
  height: 90px;
  width: 90px;
  position: absolute;
  transition: scale 0.6s ease-in-out;
}

.inner-circle {
  margin: auto;
  height: 30px;
  width: 30px;
  border-radius: 100%;
  background-color: grey;
  position: absolute;
  transition: scale 0.6s ease-in-out;
}

.inner-button:hover {
  scale: 1.2
}

.inner-circle:hover {
  scale: 1.6
}

.generic-body {
  margin: 20px;
  font-family: varent-grotesk;
  font-weight: bold
}

/* is there a way to randomize the width %, the justification and the color of several ul items? */

.generic-body ul {
  /* background-color: rosybrown; */
  color: black;
  padding: 10px;
  /* margin: 10px; */
  /* width: 90%; */
  border-radius: 20%;
  margin-top: 10px;
}

.generic-body ul:nth-child(1) {
  background-color: rosybrown;
  margin-left: 25px;
  width: 80%
}

.generic-body ul:nth-child(2) {
  background-color: palevioletred;
  margin-left: 10px;
  width: 70%
}

.generic-body ul:nth-child(3) {
  background-color: burlywood;
  margin-left: 30px;
  width:85%
}

.generic-body ul:nth-child(4) {
  background-color: plum;
  margin-left: 10px;
  width: 75%
}

/*
#canvas-gradient {
  position: absolute;
  height: 100;
  width: 100% 
}

.top-elements {
  position: absolute;
  height: 100px;
  width: 100%
}
*/

/*
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/
